/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

@media screen and (min-width:360px) and (max-width:425px) {
	body {
		background-color: black;
		padding: 3vw;
		height: 100vh;
		width: 100vw;
		box-sizing: border-box;
		overflow: auto;
		min-height: 600px;
	}
	.mainContainers {
		background-color: #1b1b1b;
		width: 100%;
		padding: 3vw;
		box-sizing: border-box;
		border-radius: 10px;
		/* margin: 3% 0; */
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	#diceMainContainer {
		height: 55vh;
		min-height: 366px;
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
		margin-bottom: 3%;
		position: relative;
	}
	#diceContainer {
		/* background-color: white; */
		width: 80vw;
		height: 80vw;
		/* padding: 0 4vw; */
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		flex-wrap: wrap;
	}
	.dice {
		margin: 1%;
		width: 30%;
		transition: transform 0.3s linear;
		max-width: 60%;
		/* min-width: 30%; */
		/* flex-shrink: 3; */
		flex-grow: 1;
	}
	button {
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	#rollButton {
		background-color: #ed1f24;
		border-radius: 5px;
	}
	.button2 {
		background-color: #e7e7e7;
		color: black;
		padding: 5px 0px;
		font-size: 20px;
		width: 40%;
		border-radius: 100%;
	}
	div#controlContainer {
		/* padding: 2% 0; */
		display: flex;
		/* height: 20%; */
		justify-content: space-evenly;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		bottom: 0;
	}
	#secondaryControlContainer {
		display: flex;
		width: 40%;
		justify-content: space-between;
	}
	#invMainContainer {
		height: 15%;
		min-height: 99px
	}
	.mainContainerTitle {
		margin-bottom: 3%;
		color: white;
	}
	.inputContainer {
		display: flex;
		height: 100%;
		justify-content: space-between;
	}
	.inventoryInput {
		width: 33.33%;
		border-radius: 5px;
		margin: 0 2%;
		height: 100%;
		text-align: center;
		background-color: #79191b;
		border: 2px solid black;
		color: white;
	}
	#statsMainContainer {
		/* height: 22%; */
		min-height: 90px;
		margin-top: 3%;
	}
	#subTitles {
		display: flex;
		justify-content: space-around;
		margin-bottom: 4%;
		color: white;
	}
	#subTitles > p {
		height: fit-content;
	}
	.statsControllers {
		background-color: #1b1b1b;
		width: 48%;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		flex-direction: row;
	}
	.statInput {
		width: 73%;
		border-radius: 5px 0 0 5px;
		/* margin: 0 2%; */
		height: 100%;
		text-align: center;
		background-color: #79191b;
		/* border: 2px solid black; */
		color: white;
		border: none;
		font-size: 18vw;
	}
	.statsButtonsContainer {
		display: flex;
		flex-direction: column;
		width: 27%;
		justify-content: space-between;
	}
	.statsButtons {
		margin: 0;
		padding: 0;
		height: 50%;
		font-size: 22px;
		background-color: rgb(31, 33, 34);
		color: rgb(232, 230, 227);
	}
	#sadnessUp, #badnessUp {
		border-top-right-radius: 5px;
	}
	#sadnessDown, #badnessDown {
		border-bottom-right-radius: 5px;
	}

}

/*div.mainContainers:last-of-type {*/
/*    margin-top: 3%;*/
/*}*/

div.mainContainers:first-of-type {

}

/*SIDE BAR*/
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 33px;
	cursor: pointer;
	background-color: transparent;
	color: white;
	padding: 0;
	border: none;
	position: absolute;
	margin: 0;
	line-height: 1;
	left: 2vw;
	top: 1vh;
	color: #ed1f24;
}

.openbtn:hover {
	background-color: #444;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}